/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/cormorant-garamond-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v30-latin-regular.woff')

}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.canvas {
  touch-action: none;
  overflow: scroll;
  background: rgb(208,184,168);
  background: linear-gradient(180deg, rgba(208,184,168,1) 0%, rgba(223,211,195,1) 36%, rgba(255,250,245,1) 79%);
}

.title {
  font-size: 7em;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  font-family: 'Cormorant Garamond';
}

.subtitle {
  font-size: 1.5em;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
  margin-bottom: 2em;
  top: -3em;
  font-family: 'Roboto';
}

/*RIGHTBAR START*/

.rightbar {
background-color: #25323b;
  flex: 0 0 20%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.rightbarContainer {
  display: flex;
  background-color: #e9eaeb;
  text-align: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  color: #fffaf5;
}

.rightbar h2 {
  font-family: 'Cormorant Garamond';
  font-weight: 700;
  font-size: 1.8em;
}

.rightbar h3 {
  font-family: 'Roboto';
  color: #25323b;
}

.rightbar p {
  margin: 0;
}

.rightbar .tabs {
  display: none;
  border-top: 1px solid #333;
}

.rightbar .tabs div {
  flex: 1;
  padding: 1em 0.2em;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  transition: background-color 0.2s ease;
}

.rightbar .tabs div:first-child {
  border-left: none;
}

.rightbar .tabs .active {
  background-color: #fffaf5; 
  border-bottom: 0px solid #333;
}

.rightbar .colors {
  display: block;
}

.rightbar .colors p {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.rightbar .colors p:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
}

.rightbar .colors .active {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
}

.circle {
  display: 'inline-block';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

/*RIGHTBAR END*/

/*BOTTOM DETAILS START*/

.DeetsContainer {
  display: flex;
  flex-direction: column;
  background: #fefefe;
  position: absolute;
  top: 100%;
  background-color: #ede9e1;
  width: 100%;
  max-width: 100%;
  padding-top: 3em;
}

img {
  width: auto;
  height: 400px;
  object-fit:fill;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.15);
  max-width: 40%;
}

.content-item {
  display: flex;
  align-items: start;
  padding: 20px;
  border-radius: 10px;
}

.content-item.row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-item.row-reverse {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.text-content {
  margin: 4em;
  max-width: 50%;
}

.text-content h2 {
  font-size: 3em;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond';
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
}

.bottom {
  width: 100%;
  flex-direction: row !important;
  justify-content: baseline !important;
  align-items: flex-star !important;
}

.code-container {
  font-size: 18px;
  line-height: 1.6;
  margin: 4em;
  margin-top: 0;
}

.code-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond';
}

.codeBlock{
  font-size: 16px;
}

/*BOTTOM DETAILS END*/

.contact {
  margin: 0 4em 4em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-size: 3em;
  font-family: 'Cormorant Garamond';
  text-align: center;
}

.socials {
  display: flex;
  height: 100%;
}

svg {
  width: 2.4em;
  height: 2.4em;
}

.socials >  a {
  margin: 1em;
  display: flex;
}



@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: 90%;
  }

  .canvas {
    width: 100%;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1em;
    margin-bottom:0em;
    top: -2em;
  }

  .select {
    display: none;
  }

  .rightbarContainer {
    height: 100%;
  display: block;
  }

  .rightbar {
    justify-content:flex-start;
  }

  .rightbar h2 {
    display: none;
  }

  .rightbar .tabs {
    display: flex;
    font-size: 0.9em;
  }

  .rightbar .colors {
    display: none;
  }

  .rightbar .colors.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffaf5;
    height: 100%;
    padding: 1em;
  }
  .rightbar .colors h3 {
    display: none;
  }

  .circle {
    display: 'inline-block';
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  .DeetsContainer {
    border-top: 1px solid #333333;
  }
  .content-item {
    flex-direction: column !important;
  }

  .text-content {
    margin: 0;
    text-align: center;
    max-width: 100%;
  }

  .text-content p {
    text-align: left;
  }

  img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .code-container {
    margin: 1em;
  }
  .code-container h2 {
    text-align: center;
  }
}
